body {
  max-width: 700px;
  text-align: center;
  border: 1px solid rgb(161, 158, 158);
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgb(154, 153, 153);
  padding: 20px 15px;
  margin: 0 auto;
  margin-top: 20px;
}
